<ng-content select="[before-svg"></ng-content>
<svg version="1.1" [attr.preserveAspectRatio]="config.PreserveRatio" [attr.viewBox]="config.ViewBox">
  <defs>
    <linearGradient id="os-g1" spreadMethod="reflect" x1="-100%" y1="0" x2="200%" y2="0"
      gradientTransform="rotate(0)">
      <stop offset="0" [attr.stop-color]="primaryColor" stop.opactiy="0.75">
        <animate attributeName="stop-color" [attr.values]="colors" [attr.dur]="speed+'ms'" repeatCount="indefinite"
          fill="freeze" />
      </stop>
      <stop offset="1" [attr.stop-color]="secondaryColor" stop.opactiy="0.75">
        <animate attributeName="stop-color" [attr.values]="colors" [attr.dur]="speed+'ms'" repeatCount="indefinite"
          fill="freeze" />
        <animate attributeName="offset" values="0;1;0" [attr.dur]="speed+'ms'" repeatCount="indefinite" />
      </stop>
    </linearGradient>
  </defs>
  <g fill="url(#os-g1)">
    <ng-content></ng-content>
  </g>
</svg>
<ng-content select="[after-svg"></ng-content>