<div style="width: 100%;">
  <os-placeloader speed="2200" primaryColor="hsla(41, 1%, 50%, 50%)" height="74" width="399">
    <svg:g code></svg:g>
  </os-placeloader>
</div>
<!-- <br />
<div style="width: 100%;">
  <os-placeloader speed="2200" primaryColor="#dcddde" height="157" width="399">
    <svg:g facebook></svg:g>
  </os-placeloader>
</div>
<br />
<div style="width: 100%;">
  <os-placeloader speed="2200" primaryColor="#dcddde" height="120" width="399">
    <svg:g content></svg:g>
  </os-placeloader>
</div>
<br />
<div style="width: 100%;">
  <os-placeloader speed="2200" primaryColor="#dcddde" height="124" width="399">
    <svg:g list></svg:g>
  </os-placeloader>
</div> -->